@model ArtikelenViewModel

@for (int i = 0; i < Model.artikelen.Count; i++)
{
    string Imageurl = "https://localhost:6001" + Model.artikelen[i].Thumbnail.RelativeUrl;
    string artikeltitle = Model.artikelen[i].Title;
    string artikelURL1 = "https://localhost:44330/Home/Artikel?title=" + Model.artikelen[i].Title;
    string artikelURL2 = "https://localhost:44330/Home/Artikel?title=" + Model.artikelen[i + 1].Title;
    string id1 = "PopupUpdatetabel" + Model.artikelen[i].Id;
    string id2 = "PopupUpdatetabel" + (Model.artikelen[i].Id + 1) ;

 <body>
    <div class="row">
        <div class="col-md-6">
            <section class="widget">
                <div class="widget-controls">
                    <a data-target="#@id1" data-toggle="modal" target="_blank"><i class="fa fa-share" style="color:#ffe000; cursor: pointer" ></i></a>
                </div>
                <div class="widget-body">
                    <div class="widget-top-overflow text-white">
                        <div class="article-title">@Model.artikelen[i].Title</div>
                        <a asp-controller="Home" asp-action="Artikel" asp-route-title="@artikeltitle"><img src="@Imageurl"></a>
                        <ul class="tags text-black-50 pull-right">
                            <li><a href="tribesearch1">@Model.artikelen[i].Tribe.Title</a></li>
                        </ul>
                    </div>
                    <div class="post-user mt-sm">
                        <span class="thumb pull-left mr">
                            <img class="rounded-circle" src="https://bootdey.com/img/Content/user_1.jpg" alt="...">
                        </span>
                        <h5 class="mb-xs mt-xs text-light"><span class="fw-semi-bold">@Model.artikelen[i].Author.Name</span></h5>
                        <p class="fs-mini text-muted"><span class="fs-mini text-muted"><i class="fa fa-tag"></i>&nbsp;Special agent</span></p>
                    </div>
                    <p class="text-light fs-mini m">
                        @Model.artikelen[i].Description
                    </p>
                    <input class="clipboard" type="hidden" id="ArtikelId" value=@artikelURL1>
                </div>
                <footer class="bg-body-light">
                    <ul class="post-links">
                        <li><i class="fa fa-calendar"></i><time>&nbsp;@Model.artikelen[i].CreatedAt.ToString("dd-MM-yyyy")</time>&nbsp;</li>
                        <li><i class="fa fa-hashtag"></i>&nbsp;Add some tags here</li>
                    </ul>
                </footer>
            </section>
            <div class="modal" id="@id1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: rgb(34,34,34); border: solid 1px #ffe000">
                        <div class="modal-header" style="border-bottom:1px solid #ffe000!important">
                            <h4 class="modal-title titlecolor" style="color:white;" id="addEventLabel">Deel het volgende artikel: <p style="color: #ffe000;">@Model.artikelen[i].Title</p>door de link hieronder te kopiëren</h4>
                            <button class="close" data-dismiss="modal" style="color:#ffe000"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <p style="color:white;">@artikelURL1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (@Model.artikelen[@Model.artikelen.Count - 1] != @Model.artikelen[i])
        {
            i++;
            string Imageurl2 = "https://localhost:6001" + Model.artikelen[i].Thumbnail.RelativeUrl;
            string artikeltitle2 = Model.artikelen[i].Title;

            <div class="col-md-6">
                <section class="widget">
                    <div class="widget-controls">
                        <a data-target="#@id2" data-toggle="modal" target="_blank"><i class="fa fa-share" style="color:#ffe000; cursor: pointer"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="widget-top-overflow text-white">
                            <div class="article-title">@Model.artikelen[i].Title</div>
                            <a asp-controller="Home" asp-action="Artikel" asp-route-title="@artikeltitle2"><img src="@Imageurl2"></a>
                            <ul class="tags text-black-50 pull-right">
                                <li><a href="tribesearch1">@Model.artikelen[i].Tribe.Title</a></li>
                            </ul>
                        </div>
                        <div class="post-user mt-sm">
                            <span class="thumb pull-left mr">
                                <img class="rounded-circle" src="https://bootdey.com/img/Content/user_1.jpg" alt="...">
                            </span>
                            <h5 class="mb-xs mt-xs text-light"><span class="fw-semi-bold">@Model.artikelen[i].Author.Name</span></h5>
                            <p class="fs-mini text-muted"><span class="fs-mini text-muted"><i class="fa fa-tag"></i>&nbsp;Special agent</span></p>
                        </div>
                        <p class="text-light fs-mini m">
                            @Model.artikelen[i].Description
                        </p>
                        <input class="clipboard" type="hidden" id="ArtikelId" value=@artikelURL2>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><i class="fa fa-calendar"></i><time>&nbsp;@Model.artikelen[i].CreatedAt.ToString("dd-MM-yyyy")</time>&nbsp;</li>
                            <li><i class="fa fa-hashtag"></i>&nbsp;Add some tags here</li>
                        </ul>
                    </footer>
                </section>
                <div class="modal" id="@id2" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background-color: rgb(34,34,34); border: solid 1px #ffe000">
                            <div class="modal-header" style="border-bottom:1px solid #ffe000!important">
                                <h4 class="modal-title titlecolor" style="color:white;" id="addEventLabel">Deel het volgende artikel: <p style="color: #ffe000;" >@Model.artikelen[i].Title</p>door de link hieronder te kopiëren</h4>
                                <button class="close" data-dismiss="modal" style="color:#ffe000"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <p style="color: white;">@artikelURL2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

 }


<script type="text/javascript">
    //function CopyText() {
    //    var copyText = document.URL;

    //    document.execCommand("copy");

    //    alert("Copied the text: " + copyText.value);
    //} 
    //var $temp = $("<input>");
    //var $url = $(".url").attr('value');

    //$('.share').on('click', function () {
    //    $("body").append($temp);
    //    $temp.val($url).select();
    //    document.execCommand("copy");
    //    $temp.remove();
    //})
</script>

