@model FormulierEnAanvraagModel


<link rel="stylesheet" href="~/css/TalkAanvraagPartial.css" />


    <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgb(34,34,34); border: solid 3px #ffe000">
            @using (Html.BeginForm("TalkAanvraag", "Home", new { Form = @Model }, FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="addEventLabel">Talk Aanvragen</h4>
                    <button type="button" style="color: white;" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Bedrijfsnaam: </h5> @Html.TextBoxFor(m => m.form.companyName, new { @required = "required", autocomplete = "off" }) <br />
                    <h5>Voorkeursdag: </h5> @Html.EditorFor(m => m.form.preferredDateTime, new { @type = "date", @required = "required", autocomplete = "off" }) <br />
                    @Html.ValidationSummary()
                    <h5>Aantal mensen aanwezig: </h5> @Html.TextBoxFor(m => m.form.amountOfPeople, new { @type = "number", min = 1, max = 100, @required = "required", autocomplete = "off" }) <br />
                    <h5>Email: </h5> @Html.TextBoxFor(m => m.form.contactEmail, new { @type = "mail", @required = "required", autocomplete = "off" }) <br />
                    <h5>Telefoon: </h5> @Html.TextBoxFor(m => m.form.phoneNumber, new { @required = "required", autocomplete = "off" }) <br /><br />
                    <h5>Opmerking: </h5> @Html.TextBoxFor(m => m.form.comment, new { autocomplete = "off" }) <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-auto" style="background-color: #ffe000 !important" data-dismiss="modal">Close</button>
                    <input type="submit" value="Vraag aan" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
